@import url("css/style.css");
.container
{
  position: relative;
  width: 100%;
  height: 100vh;
overflow: auto;
scroll-snap-type: y mandatory;
}
.container .section
{
  position: relative;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  background-blend-mode: multiply;
}
.container .section:nth-child(1)
{
  background: #A9A9A9 url("https://www.aimovement.org/csi/Churchill/churchill_belle_11_24_93_05.jpg");
  background-repeat:no-repeat;
  background-size: 700px;
  background-attachment: fixed;
  background-position: left;
}

.container .section:nth-child(2)
{
  background: #fdfd96 url("https://www.aimovement.org/csi/Churchill/churchill_belle_11_24_93_05.jpg");
  background-repeat:no-repeat;
  background-size: 700px;
  background-attachment: fixed;
  background-position: left;
}

.container .section:nth-child(3)
{
  background: #FFB6C1 url("https://www.aimovement.org/csi/Churchill/churchill_belle_11_24_93_05.jpg");
  background-repeat:no-repeat;
  background-size: 700px;
  background-attachment: fixed;
  background-position: left;
}

.container .section:nth-child(4)
{
  background: #ADD8E6 url("https://www.aimovement.org/csi/Churchill/churchill_belle_11_24_93_05.jpg");
  background-repeat:no-repeat;
  background-size: 700px;
  background-attachment: fixed;
  background-position: left;
}

.container .section .content
{
  position: absolute;
bottom: 50px;
left: 50px;
max-width: 700px;
}

.container .section .content h2
{background: #fff;
color: #111;
font-weight:600;
display: inline-block;
padding: 10px 20px;
font-size: 2em;
width:300px;
text-align: center;
margin-left: 900px;
}

.container .section .content p
{background: #fff;
color: #111;
writing-mode:horizontal-tb;
font-weight:300;
white-space: space nowrap;
display: inline-table;
padding: 10px 20px;
margin-top: 20px;
margin-left: 900px;
width:300px;
text-align:center;
}
