body {
	
	background: url('../images/background.jpg') top center no-repeat #f5842a;
	background-size: 1024px 768px;
	font-family: 'Catamaran', sans-serif;
	color: white;
	margin: 0px;
	padding: 0px;
}


#logo {
	
	width: 73px;
	margin: 18px auto 0px auto;
	
}


#logo img {
	
	width: 73px;
	
}


#wave {
	
	width: 378px;
	max-width: 73%;
	margin: 20px auto 0px auto;
	
}


#wave img {
	
	width: 100%;
	
	
}


.widergrouping {
	
	width: 500px;
	max-width: 80%;
	margin: 40px auto 0px auto;
	text-align: center;
	
}

.title {
	
	margin: 0 auto 22px auto;
	font-size: 32px;
	font-weight: 300;
	line-height: 111%;
}


.curvedwhite {
	
	width: 100%;
    background: white;
    margin-top: -65px;
    color: black;
    text-align: center;
   
	
	
	
}


.curvedwhite h5 {
	
	letter-spacing: 2px;
	color: #f5842a;
	margin-top: 35px;
	
}

.curvedorange {
	
	border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
   	background: #f5842a;
   	height: 200px;
   	width: 100%;
 -webkit-box-shadow: inset 0px -41px 20px -24px rgba(0,0,0,0.02);
-moz-box-shadow: inset 0px -41px 20px -24px rgba(0,0,0,0.02);
box-shadow: inset 0px -41px 20px -24px rgba(0,0,0,0.02);

}



.logos {
	
	width: 540px;
	margin: 0 auto;
	
}

.logos .logo {
	
	display: inline-block;
	padding-right: 10px;
	width: 120px;
	font-size: 10px;
	text-transform: uppercase;

	
}


.logo img, .logolink img {
	
	width: 90px;
	
}



.logo h6, .logolink h6 {
	
	font-size: 13px;
	text-transform: none;
	font-weight: bold;
	margin: 8px 0px 6px 0px;
	padding: 0px;
	line-height: 111%;
	
}






.logo h7, .logolink h7 {
	
	font-size: 10px;
	text-transform: uppercase;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	line-height: 110%;
	display: block;
	
}


a.logolink, div.logolink {
	
	color: black;
	text-decoration: none;
	display: inline-block;
	width: 120px;
	height: 168px;
	background: none;
	padding-right: 10px;
	font-size: 10px;
	text-transform: uppercase;
	vertical-align: top;
	
}


a.logolink:hover {
	
	color: black;
	text-decoration: none;
	
}


a.logolink:hover h6 {
	
	text-decoration: underline;
	
}


.lightgray {
	
	width: 100%;
	margin-top: 45px;
	background: #e9e9e9;
	min-height: 100px;
	padding: 70px 0px 100px 0px;
	
	
}


.innerlightgray {
	
		
	width: 540px;
	margin: 0 auto;
	text-align: left;
	
	

	
}


.innerlightgray a {
	
	color: black;
	text-decoration: underline;
	
}

.innerlightgray a:hover {
	
	color: black;
	text-decoration: none;
	
}


.lightgray h3 {
	
	font-size: 38px;
	color: #f5842a;
	font-weight: 1000;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 10px;
	padding-bottom: 0px;
	line-height: 100%;

	
}


.lightgray h4 {
	
	font-weight: 200;
	font-size: 24px;
	margin: 0px 0px 25px 0px;
	padding: 0px;
	line-height: 100%;

	
}


@media screen and (max-width: 590px) {
   
   .logos, .innerlightgray {
	
	width: 410px;
	margin: 0 auto;
	
}


   
   
   }
   
   
   
@media screen and (max-width: 430px) {
   
   .logos, .innerlightgray {
	
	width: 280px;
	margin: 0 auto;
	
}

.curvedorange {
	
	height: 150px;
	
	}
   
   
   }

